p{
    /*
    
    in text attribute have many attribute like
    text-align: justfy; 
    text-decoration: 
    letter-spacing:
    word-spacing:
    text-shadow:
    text-indent
    line-height:

    
    */

    text-align: justify;
    text-shadow: 1px 2px green; /*this line actually create shadow*/
    letter-spacing: 2px; /*this line create letter spacing*/
    text-indent: 5px; /*this line create spacing when starting word */
    line-height: 40px;
    font-variant-caps: small-caps;
}
h2{
    letter-spacing: 20px;
    
}
h1{
    text-transform: uppercase; /*this attribute create all letter is uppercase if letter are lowarcase*/
    text-decoration:underline green; /*this attribute create actually underline */
    
}
h3{
    text-decoration: line-through; /*this attribute actually create a line of word midel point*/
}
